[DRAFT FOR REVIEW]

Hi {{ contact_name | default("there") }},

Great news! The fabrication of your {{ project_type | default("signage") }} is nearing completion, and we are ready to schedule the installation.

Our goal is to make the installation process as smooth as possible for you. Our licensed installers can typically be scheduled between Monday and Thursday, 8:00 AM to 4:30 PM. 

Please let us know what day and time works best for you next week, and we will get you on the schedule.

We're excited to see the final product installed and turn some heads! 

Best regards,

[Your Name]
Mustang Signs
(509) 735-4607
